{
  "root": true,
  "env": {
    "browser": true,
    "es2022": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "@vue/prettier",
    "@vue/eslint-config-prettier",
    "plugin:storybook/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "plugins": [],
  "rules": {}
}
