* {
  box-sizing: border-box;
}

body {
  background-color: var(--j-bg);
  color: var(--j-primary);
  font-family: var(--j-font-family);
}

a {
  color: var(--j-link);
}

a,
button {
  touch-action: manipulation;
}
