$global-blue: #2680eb;
$global-red: #e34850;
$global-yellow: #e68619;
$global-green: #2d9d78;

/**
* Customisable map
*/
$tokens: (
  'default': (
    'primary': $global-blue,
    'error': $global-red,
    'warning': $global-yellow,
    'success': $global-green
  )
) !default;

@each $theme, $map in $tokens {
  @if $theme == 'default' {
    :root {
      @each $key, $value in $map {
        --j-#{$key}: #{$value};
      }
    }
  } @else {
    .theme--#{$theme} {
      @each $key, $value in $map {
        --j-#{$key}: #{$value};
      }
    }
  }
}
